python-dateutil==2.9.0.post0
numpy==1.26.3
opencv-python==4.11.0.86
Pillow==11.0.0
PyYAML==6.0.2
tqdm==4.67.1
matplotlib==3.9.4
pandas==2.3.0
scipy==1.13.1
einops==0.8.1
timm==1.0.19
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
ultralytics==8.3.159
ultralytics-thop==2.0.14
onnx==1.16.1
onnxruntime-gpu==1.12.1; platform_system != "Darwin"
